<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="gfnl_pixqrcode" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Pix</label>
                <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                </field>
                <field id="comment" translate="label comment" type="textarea" sortOrder="3" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Comment</label>
                    <comment>Comment that will appear at checkout for the customer.</comment>
                </field>
                <field id="send_proof_payment" translate="label comment" type="text" sortOrder="4" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Email to send the proof of payment</label>
                    <validate>required-entry validate-email</validate>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="pix_key" translate="label comment" type="text" sortOrder="5" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Pix Key</label>
                    <comment>
                        <![CDATA[
                            Tipos de chaves pix aceitas:<br><ul><li>E-mail:<br>exemplo:. fulano_da_silva.recebedor@example.com</li><li>CPF ou CNPJ:<br>exemplo: CPF: 12345678900 ou CNPJ: 00038166000105</li><li>Número de telefone celular:<br>exemplo: +5561912345678<br>+55: código do país.<br>61: código do território ou estado.<br>912345678: número do telefone celular.<br></li><li>Chave aleatória:<br>exemplo: 123e4567-e12b-12d1-a456-426655440000</li></ul>
                        ]]>
                    </comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="merchantName" translate="label comment" type="text" sortOrder="6" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Merchant Name</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="merchantCity" translate="label comment" type="text" sortOrder="7" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Merchant City</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
